*       @Shaquu
*.js    @Shaquu @caitken-com
*.css    @Shaquu @caitken-com
*.md    @Shaquu @caitken-com @crxporter @TheNON75
*.png    @Shaquu @caitken-com @crxporter @TheNON75
*.jpg    @Shaquu @caitken-com @crxporter @TheNON75
