{{ $currentPage := . -}}
{{ range .Site.Menus.docs -}}
  <div class="dropdown">
    <a class="unstyled" data-bs-toggle="collapse" href="#collapse-{{ urlize .Name | lower }}" role="button" aria-expanded="false" aria-controls="collapse-{{ urlize .Name | lower }}">
      <h3 class="caret">{{ .Name }}</h3>
    </a>
    {{ if .HasChildren -}}
    {{- $groupActive := or ($currentPage.IsMenuCurrent "docs" .) ($currentPage.HasMenuCurrent "docs" .) -}}
    <div class="collapse{{ if $groupActive }} show{{ end }}" id="collapse-{{ urlize .Name | lower }}">
      <ul class="list-unstyled">
        {{ range .Children -}}
        {{- $active := or ($currentPage.IsMenuCurrent "docs" .) ($currentPage.HasMenuCurrent "docs" .) -}}
        {{- $active = or $active (eq $currentPage.Section .Identifier) -}}
        <li><a class="docs-link{{ if $active }} active{{ end }} {{ if .Page.Params.divider }} divider{{ end }}" href="{{ .URL | absURL }}">{{ .Name }}</a></li>
        {{ end -}}
      </ul>
    </div>
    {{ end -}}
  </div>
{{ end -}}
