{{ $service := (where .Site.Data.hap.services "constructorName" .Params.service.name) }}
{{ if $service -}}
  {{ range $service}}
    {{ $requiredCharacteristics := .characteristics }}
    {{ $optionalCharacteristics := .optionalCharacteristics }}
    {{ $characteristics := $optionalCharacteristics | append $requiredCharacteristics | sort }}
    <h2 id="characteristics">Characteristics<a href="#characteristics" class="anchor" aria-hidden="true">#</a></h2>
    <table>
      <tbody>
      <tr>
        <th>Name</th>
        <th>Required</th>
      </tr>
      {{ range $characteristics }}
        <tr>
          <td><a href="{{ .constructorName | replaceRE `([a-z])([A-Z])` `$1-$2` | lower | replaceRE `(.*)` `wiki/characteristic/$1/` | absURL }}">{{ .displayName }}</a></td>
          <td>{{ if .required -}}✔{{ else }}❌{{ end -}}</td>
        </tr>
      {{ end }}
      </tbody>
    </table>
  {{ end -}}
{{ end -}}
