{{ $characteristic := (where .Site.Data.hap.characteristics "constructorName" .Params.characteristic.name) }}
{{ if $characteristic -}}
  {{ range $characteristic }}
    <h2 id="properties">Properties<a href="#properties" class="anchor" aria-hidden="true">#</a></h2>
    <table>
      <tbody>
        {{ if .props.format -}}
        <tr>
          <th scope="row">Format</th>
          <td>{{ .props.format }}</td>
        </tr>
        {{ end -}}
        {{ if .props.unit -}}
        <tr>
          <th scope="row">Unit</th>
          <td>{{ .props.unit }}</td>
        </tr>
        {{ end -}}
        {{ if .props.description -}}
        <tr>
          <th scope="row">Description</th>
          <td>{{ .props.description }}</td>
        </tr>
        {{ end -}}
        {{ if .props.minValue -}}
        <tr>
          <th scope="row">Minimum Value</th>
          <td>{{ .props.minValue }}</td>
        </tr>
        {{ end -}}
        {{ if .props.maxValue -}}
        <tr>
          <th scope="row">Maximum Value</th>
          <td>{{ .props.maxValue }}</td>
        </tr>
        {{ end -}}
        {{ if .props.minStep -}}
        <tr>
          <th scope="row">Minimum Step</th>
          <td>{{ .props.minStep }}</td>
        </tr>
        {{ end -}}
        {{ if .props.maxLen -}}
        <tr>
          <th scope="row">Maximum Length</th>
          <td>{{ .props.maxLen }}</td>
        </tr>
        {{ end -}}
        {{ if .props.maxDataLen -}}
        <tr>
          <th scope="row">Maximum Data Length</th>
          <td>{{ .props.maxDataLen }}</td>
        </tr>
        {{ end -}}
        {{ if .props.validValues -}}
        <tr>
          <th scope="row">Valid Values</th>
          <td>{{ .props.validValues }}</td>
        </tr>
        {{ end -}}
        {{ if .props.validValueRanges -}}
        <tr>
          <th scope="row">Valid Value Ranges</th>
          <td>{{ .props.validValueRanges }}</td>
        </tr>
        {{ end -}}
        {{ if .props.perms -}}
        <tr>
          <th scope="row">Permissions</th>
          <td>{{ .props.perms }}</td>
        </tr>
        {{ end -}}
        {{ if .props.adminOnlyAccess -}}
        <tr>
          <th scope="row">Administrator Only Access</th>
          <td>{{ .props.adminOnlyAccess }}</td>
        </tr>
        {{ end -}}
      </tbody>
    </table>
{{ end }}
{{ end -}}
